.jumbotron {
  padding-top: 8rem;
  background-color: var(--container-bg);
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url(img/jumbo1.png) fixed;
  background-size: cover;
  height: 612px;
  width: 100%;
}
.container h1 {
  padding-bottom: 15px;
}
nav {
  background-color: rgb(225, 225, 225);
}
section {
  padding-top: 5rem;
  padding-bottom: 12px;
  background-color: rgb(225, 225, 225);
}

.card-body {
  margin-top: 5px;
}
.jumbotron .card {
  margin-right: 100px;
  border: 0;
}
.jumbotron i {
  color: #fff;
  font-size: 20px;
}
.media {
  margin-top: 8px;
  margin-left: 92%;
}
.jumbotron i:hover {
  color: #222;
}
.img-fluid {
  height: 200px;
}
footer p,
i {
  font-size: 15px;
}
nav i {
  padding: 5px;
  font-size: 80%;
}
@media all and (max-width: 576px) {
  .media {
    margin-left: 75%;
  }
  #gallery .card {
    margin-left: 22%;
  }
  .jumbotron .card {
    margin-right: 25%;
    border: 0;
  }
}
